@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

.body {
    margin: 0;
    padding: 0;
    background: rgb(180, 186, 220);
    font-family: 'Carter One', cursive;
}


.head {
    font-size: larger;
    background-color: #d2d50fe9;
    padding: 2px;
    color: #303041;
    text-align: center;
    box-shadow: 1px 2px 2px 2px gray;
}

.flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.image {
    margin-top: 80px;
    width: 700px;
    height: 500px;
    border-radius: 30%;
    box-sizing: border-box;
    box-shadow: 2px 3px 5px 2px rgb(124, 101, 105);
    
}

.bttn {
    padding: 8px;
    margin:auto;
    font-weight: 1000;
    width: 100%;
    cursor: pointer;
    color:rgb(109, 95, 98);
    border-radius: 20px;
    margin:auto;
    margin-left: 30px;
}

.inputfield {
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    background-color: rgb(189, 224, 148);
    height: 100px;
    border-radius: 20px;
    color: #0b1306;
    box-shadow: 2px 3px 5px 3px gray;
}


textarea{
    border: none;
    overflow: auto;
    outline: none;
}


.image:hover {
    cursor: pointer;
    box-shadow: 2px 3px 4px 4px rgb(109, 95, 98);
}

.bttn:hover{
    background-color:rgb(180, 186, 220);
    color: white;
}

