.body {
    margin: 0;
    padding: 0;
    background-color: #facc15;
    background-image: url(images/minion3.jpg);
    background-size: cover;
}

.head {
    background-color: #facc15;
    padding: 2px;
    color: #0f172a;
    text-align: center;
    box-shadow: 1px 2px 2px 2px gray;
}